body {
  background-color: antiquewhite;
  font-family: "Roboto Mono", monospace;
}
header {
  text-align: center;
}
.content {
  display: flex;
  flex-direction: row;
  height: 1200px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  margin-left: -40px;
  text-align: center;
  background-color: rgba(214, 42, 42, 0.432);
  padding: 20px;
}
.nav_list li {
  justify-content: center;
  font-size: 30px;
  margin-right: 40px;
  display: inline;
}
.nav_list li a {
  text-decoration: none;
  padding: 20px;
  color: rgb(0, 0, 0);
}

.nav_list li a:hover:not(.active) {
  background-color: rgba(214, 42, 42, 0.432);
  color: rgb(250, 250, 250);
}

.nav_list li a.active {
  background-color: #aa0404;
  color: white;
}

.nav_list li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

aside {
  position: sticky;
  top: 141px;
  background-color: rgba(214, 42, 42, 0.432);
  height: 380px;
  width: 180px;
}

main {
  display: flex;
  margin-left: 50px;
  width: 50%;
}

section {
  font-size: 12px;
  overflow: hidden;
  height: 385px;
  width: 260px;
}

img * {
  transition: 0.2s;
}
img {
  position: relative;
}

img:hover {
  transform: scale(1.5);
}

.main_info {
  margin-left: 15px;
}

.main_info li::marker {
  color: rgb(255, 29, 29);
}

h1 {
  text-align: center;
}
.info {
  text-align: center;
  color: black;
  font-size: 25px;
  padding: 10px;
}
.list_of_info {
  list-style-type: none;
  margin-left: -10px;
  padding: 10px;
}

.list_item {
  color: #000;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  width: fit-content;
  padding: 10px;
}
.list_item:after {
  display: block;
  content: "";
  border-bottom: solid 1px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.list_item:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.list_item:hover:after,
.list_item:hover:before {
  transform: scaleX(1);
}

footer {
  position: sticky;
  margin-top: 200px;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 80px;
  padding: 20px;
  background-color: rgba(214, 42, 42, 0.432);
}

footer ul li {
  list-style-type: none;
  display: inline;
}
